main-black = #01000e
main-blue = #060525
main-yellow = #ffda44
main-deep_pink = #ff4081
main-medium_blue = #005ecb
main-medium_blue--bright = #448aff
main-light_blue = #add8e6

main-white-background = #fafafa

font-dosis = Dosis, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
font-oswald = Oswald, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif